* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Google Fonts Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

body {
    font-family: "Poppins", sans-serif;
}

/* --------Top Section Start ----------*/
.top-section {
    background-color: rgb(40, 39, 39);
    border-radius: 10px;
    margin: 30px;
    
}
.top {
    align-items: center;
    justify-content: center;
}

.t-title h1 {
    color: antiquewhite;
    font-size: clamp(40px,5vw,60px);
}

.t-title p {
    color: aliceblue;
    padding-top: 20px;
    font-size: clamp(16px,2vw,20px);
}

.t-btn {
    margin-top: 45px;
}

.t-img {
    text-align: center;
}
.t-img img {
    min-width: 100%;
    margin-bottom: -30px;
    padding-top: 30px;
}

.t-btn a {
    background-color: red;
    padding: 5px 20px;
    border-radius: 3px;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

/* ----------Top Section End ----------*/

/* --------Aside Section Start --------*/
.aside {
    text-align: center;
}

.aside a {
    text-decoration: none;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1.4rem;
    color: black;
}

.UM,
.AG,
.blog {
    margin-top: 30px;
}

.blog a {
    background-color: rgb(255, 0, 0);
    border: none;
    color: white;
    padding: 5px 30px;
}

/* --------Aside Section End ---------*/

/* ------------Card Section Start ---------*/


.card {
    padding: clamp(15px, 3vw, 30px);
}
.card > div {
    border: 1px solid #d3cfcf;
    border-radius: 15px;
}

.card img {
    width: 100%;
}

.c-btn {
    margin: 20px;
}

.c-btn a {
    text-decoration: none;
    color: black;
    border: 0.2px solid rgb(12, 11, 11);
    border-radius: 5px;
    padding: 5px 15px;
}

.b-title {
    margin: 20px;
}
.b-title h2 {
    font-size: clamp(17px, 2vw, 25px);
}

.b-icon {
    display: flex;
}

.b-time,
.b-comment {
    display: flex;
    margin: 20px;
}

.b-time p,
.b-comment p {
    margin-left: 10px;
}

/* ---------Card Section End ---------*/

/* --------Footer Section Start --------*/
.footer {
    background-color: rgb(25, 24, 24);
    width: 100%;
    text-align: center;
}

.footer a {
    text-decoration: none;
    margin: 15px 0;
    color: white;
}

.f-s {
    display: inline-block;
    font-size: 3rem;
}

hr {
    width: 90%;
    margin: 0 auto;
}

.f-e a {
    display: flex;
    flex-direction: column;
}

/* ------Responsive Design START -------*/
/* For mobile phones: */

/* flex system */
.row-span {
    display: flex;
    flex-wrap: wrap;
}
.container-span {
    max-width: 1200px;
    margin: auto;
    padding: 30px;
}
.col-span-3 {
    flex-basis: 25%;
}
.col-span-4 {
    flex-basis: 33%;
}
.col-span-6 {
    flex-basis: 50%;
}
.col-span-12 {
    flex-basis: 100%;
}

@media only screen and (max-width: 768px) {
    .t-img img{
        min-width: auto;
    }
    .t-left{
        text-align: center;
    }
    .col-span-3 {
        flex-basis: 50%;
    }
    .col-span-4 {
        flex-basis: 50%;
    }
    .col-span-6 {
        flex-basis: 100%;
    }
    .col-span-12 {
        flex-basis: 100%;
    }
}
@media only screen and (max-width: 500px) {
    .col-span-3 {
        flex-basis: 100%;
    }
    .col-span-4 {
        flex-basis: 100%;
    }
    .col-span-6 {
        flex-basis: 100%;
    }
    .col-span-12 {
        flex-basis: 100%;
    }
}
